html {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #efefef;
}

.header {
  background-color: #ddd;
}

.logo {
  display: inline;
}

.search-bar {
  border-color: #ddd;
  display: inline;
}

.card {
  background-color: #fff;
  max-width: 200px;
}

table, caption {
  background-color: #fff;
}
