html {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #fff;
}

.banner {
  background-color: #ddd;
}

h2, ul {
  background-color: #efefef;
}

.card {
  background-color: #fff;
}

.icon {
  max-width: 200px;
}
